.form-custom {
    display: flex;
    justify-content: center;
}

.form-section-title {
    color: var(--black03);
    margin-bottom: 6px
}

.form-wrapper {
    display: flex;
    gap: 24px;
    padding: 32px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.form-section {
    width: 100%;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    font-weight: 600;
}

.col-1,.col-2 {
    width: 400px;
}

.form-input input{
    display: block;
    width: 100%;
    box-shadow: var(--shadow03);
    padding: 10px;
    border: none;
    border: 1px solid rgba(73, 73, 73, 0.3);
    background: rgb(239, 239, 239);
}  

.form-input select {
    box-shadow: var(--shadow03);
    padding: 10px;
    border: 1px solid rgba(73, 73, 73, 0.3);
    background: rgb(239, 239, 239);
    display: block;
    width: 100%;
    font-size: 18px;
}

.form-group-input {
    display: flex;
    gap:16px;
}

.form-input-checkbox {
    display: flex;
    color: var(--black04);
    font-weight: 600;
    align-items: center;
    gap:24px
}

.form-input-checkbox input[type=checkbox] {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.form-input i {
    cursor: pointer;
}

.form-input .dropdown {
    position:relative;
    left:90%;
    bottom:30px;
}

.form-input .menu {
    right: 90%;
    margin-top:12px;
}
