@media only screen and (max-width: 2300px) {

}


@media only screen and (max-width: 1900px) {

    .panel {
        width: 80%;
    }

    
}

@media only screen and (max-width: 1400px) {
    .panel {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1080px) {
    .login img {
        display: none;
    }


    .login-form {
        width: 50% !important;
    }
    .form-wrapper {
        display: block !important; 
    }

    .panel-header .panel-header-status div{
        padding: 5px 24px 0px 24px;
        height: 80px;   
    }
    .panel {
        margin: .5rem;
    }
}

@media only screen and (max-width: 960px) {
    
    .panel-header .panel-header-status div{
        padding: 5px 12px 0px 12px;
        height: 85px;   
    }
    .panel {
        margin: 10px 0 5rem 0;
    }

    
}

@media only screen and (max-width: 860px) {
    .table-custom .table-custom-info-wrapper {
        display: block !important;
    }

    .table-custom .table-custom-info-wrapper .group-button{
        margin-top: 8px;
    }
}

@media only screen and (max-width: 740px) {
    

    .panel-header .panel-header-status div:last-child{
        display: none;
    }

    .panel-header .panel-header-status div{
        width: 25%; 
    }

    .table-custom table th:last-child,
    .table-custom table td:last-child, 
    .table-custom table th:nth-child(2),
    .table-custom table td:nth-child(2)
    {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    .group-button{
        display: block;
        width: 100%;
    }

    .group-button .btn-custom,.menu-header i{
        width: 100%;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 560px) {
    .table-custom-info {
        display: block !important;
    }

    .table-custom-info h4 {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .table-custom-info-wrapper .group-button {
        justify-content: center;
    }

    .search-wrapper input.search {
        width: 89% !important;
    }

    .search-wrapper i {
        left: 85% !important;
    }

    .panel-header .panel-header-status div:nth-child(4){
        display: none;
    }

    .panel-header .panel-header-status div{
        width: 33%;
    }
    .table-custom table th:nth-child(3),
    .table-custom table td:nth-child(3)
    {
        display: none;
    }
}