:root {
    --panel: rgb(248, 248, 248);

    --primary01: #247e62;
    --primary02: #4daa8c;

    --secondary01: #323843;
    --secondary02: #515865;
    --secondary03: #79808e;
    --secondary04: #a5aebe;
    --secondary05: #dbdcde;
  
    --white01: white;
    --white02: #ebedef;

    --black01: black;
    --black02: #444;
    --black03: #1f1f1f;
    --black04: rgba(0, 0, 0, 0.6);
    --black05: rgba(0, 0, 0, 0.3);
  
    --shadow01: 0 5px 10px 0px rgba(0,0,0,0.2);
    --shadow02: 11px 22px 42px rgba(0, 0, 0, 0.1);
    --shadow03: 0px 4px 4px 0px rgba(44, 44, 44, 0.03);
    --shadow04: 1px 3px 8px 0px rgba(0, 0, 0, 0.2);
    --shadow05: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    --shadow06: 5px 24px 15px rgba(0, 0, 0, 0.4);
    --shadow07: 0px 2px 6px rgba(0, 0, 0, 0.1);
  
    
  
    --blackOrWhite: black;
    --whiteOrBlack: white;

    --table01-selected: rgba(116, 175, 207, 0.8);
  
    --success: rgb(40, 168, 100);
    --info: rgba(40, 168, 149);
    --danger: rgb(167, 55, 90);
    --warning: rgb(233, 111, 66);
    --disabled: rgba(128, 128, 128, 0.7);

   
  }