.table-wrapper {
  overflow-x: auto;
}

.table-custom {
  width: 100%;
  display: grid;
  margin-top:24px;
  gap:6px;
}

.table-custom table {
  background: var(--table01-body);
  color: var(--secondary02);
  border-spacing: 0;
  width: 100%;
  white-space: nowrap;
  border: 1px solid var(--secondary05);
}

.table-custom table th,.table-custom table td {  
  max-width: 210px;
  padding: 18px 24px;
  border-bottom: 1px solid var(--secondary05);
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-custom table th:first-child,
.table-custom table td:first-child {
  width:67px;
}

.table-custom table th {
  font-size:15.5px
}
.table-custom table tbody tr:hover {
  background-color: var(--white02);
  box-shadow: var(--shadow04);
}

.table-custom .options-hidden {
  float: right;
}

.table-custom .options-hidden i{
  display: none;
}

.table-custom table tr:hover .options-hidden i{
  display:initial;
}

.table-custom table .selected {
  background-color: var(--table01-selected) !important;
}



.table-custom .last{
  margin-left:4px;
  width: 80px;
  border-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.table-custom .first{
  margin-right:4px;
  width: 80px;
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.hidden {
  display: none;
}
