
.top {
    height: 60px;
    width: 100%;
    background: var(--header);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--background);
}

.top ul{
    list-style-type: none;
}

.top .dropdown button {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid var(--black05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .dropdown button i{
    font-size: 14px;
}

.top .dropdown {
    gap:9px
}

.top .dropdown h3 {
    font-size: 14px;
}

.top .dropdown h4 {
    font-weight: 500;
    font-size: 13px;

}

.top .dropdown p {
    font-size: 13px;
}
.top .dropdown nav ul li {
    margin-bottom:8px
}

.sub-top {
    height: 64px;
    width: 100%;
    background: var(--sub-top);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--shadow01);
}

.sub-top nav ul {
    list-style-type: none;
    display: flex;
    gap:48px;
}

.sub-top nav ul li a {
    color: var(--white02);
    text-decoration: none;
    font-size: 18px;
}