.sidebar {
    z-index: 1;
    background-color: var(--panel);
    height: 100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    border-right: 1px solid var(--secondary05);
}

.open-sidebar {
    width: 250px;
}

.close-sidebar {
    width: 70px;
}

.openbtn-sidebar-wrapper{
    z-index: 2;
    padding-right:1px;
    position: fixed;
    top:0;
    left:0;
}
.openbtn-sidebar {
    border: none;
    border-radius:4px;
    margin: 6px 8px;
    width: 50px;
    height: 50px;
    background-color: var(--panel);
    font-size: 20px;
}
.openbtn-sidebar:hover {
    background-color: var(--white02);
}

.closebtn-sidebar {
    font-size: 20px;
}

.sidebar nav {
    position: relative;
    top:60px;
}

.sidebar nav a{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap:8px;
    padding:12px;
}

.sidebar nav a:hover {
    background-color: var(--white02);

}

.sidebar nav p {
    width: 80%;
}

.sidebar nav i {
    position: relative;
    left:14px;
    display: flex;
    justify-content: center;
    width: 30%;
}
.sidebar nav .markdown-btn {
    background-color: transparent;
    width: 3px;
    height: 24px;
    transition: all 80ms ease-in-out;
}

.sidebar nav a:hover .markdown-btn {
    background-color: var(--primary01);
}

.sidebar .sub-menu-sidebar {
    background-color: var(--white02);
    border-top: 1px solid var(--secondary05);
}
