.search-wrapper {
  display: flex;
  align-items: center;
}
  
.search-wrapper i {
  left: 89%;
  color: var(--secondary03);
  position: relative;
}
  
.search-wrapper input.search {
  border: 1px solid var(--secondary05);
  width: 235px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--panel);
  box-shadow: var(--shadow05);
  padding: 0 0 0 12px;
}