.modal-records-wrapper {
    margin:12px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-records-wrapper ul {
    list-style: none;
}

.modal-records-wrapper table,.modal-records-wrapper td{
    border-collapse: collapse;
    border:1px solid var(--secondary03);
}

.modal-records-wrapper td:first-child {
    background-color: var(--secondary02);
    color:var(--white02)
}

.modal-records-wrapper td {
    padding: 8px;
}

.modal-records-wrapper h4 {
    display: flex;
    justify-content: center;
    margin-bottom:8px
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--panel);
    margin: 0;
    color: var(--secondary02);
    width: 1em;
    height: 1em;
    border: 1px solid var(--secondary04);
    border-radius: 0.15em;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: .3s;
  }
  
  input[type=checkbox]:hover {
    border: 1px solid var(--secondary02);
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 1.1em;
    height: 1.1em;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 85% 41%, 40% 78%, 15% 50%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--shadow05);
    background-color: var(--info);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  