.msg {
    position: absolute;
    left:15%;
    right:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 16px;
    border-radius: 2px;
}

.msg h3 {
    color: var(--white02) !important;
}