* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--panel);
  font-family: 'montserrat',sans-serif
}

input {
  font-size: 18px;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5,label,button,span,p {
  color: var(--secondary02)
}


.container {
  display: flex;
  justify-content: center;
}

.panel {
  width: 60%;
  margin: 1.4rem 3rem 12rem 3rem;
  padding: 1.4rem 3rem 3rem 3rem;
  background-color: transparent;
}


.hr {
  height: 1px;
  background-color: var(--secondary05);
}

.btn-custom {
  width: 100px;
  height: 40px;
  border:none;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  color:var(--white02);
  background-color: var(--secondary01);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 6px;
  transition: all 200ms ease-in-out;
}

.btn-long {
  width: 160px;
  justify-content: space-around;
}

.btn-medium {
  width: 130px;
  justify-content: space-around;
}

.btn-pill {
  border-radius: 18px;
}

.section-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.btn-border {
  background-color: transparent;
  border: solid;
  border-width: .12rem;
  border-color: var(--secondary05);
  color: var(--secondary03);
}

.btn-border:hover, .btn-border-min:hover {
  background-color: var(--secondary03);
  color: var(--white02)
}

.wrapper {
  display: flex;
  gap:4px;
  align-items: center;
}

.disabled {
  pointer-events: none;
  background-color: var(--disabled) !important;
  color: var(--disabled) !important;
}

.disabled-border{
  pointer-events: none;
  border-color: var(--disabled);
  color: var(--secondary03);
  transition: all 200ms ease-in-out;
  background-color: var(--secondary02);
}

.section {
  border-radius: 4px;
  background-color: var(--secondary01);
  margin-bottom: 16px;
  padding: 25px;
  box-shadow: var(--shadow04);
}

.section .section-header h4 {
  margin-bottom: 8px;
  color: var(--white02);
}

.transparent {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.transparent:hover {
  background-color: transparent !important;
}

select {
  font-size: 20px;
  border-radius: 4px;
  border: none;
  background-color: var(--panel);
  padding:12px;
  cursor: pointer;
}

.group-button{
  display: flex;
  align-items: center;
  gap:8px;
}

.neutral{
  background-color: var(--secondary02);
}

.neutral-border{
  border-color: var(--secondary02) !important;
  color: var(--secondary01);
}

.neutral-border:hover,.btn-custom.neutral:hover {
  background-color: var(--secondary01) !important;
}

.success{
  background-color: var(--success);
}

.success-border{
  border-color: var(--successText) !important;
  color: var(--successText);
}

.success-border:hover,.btn-custom.success:hover {
  filter: brightness(.9);
}

.warning {
  background-color: var(--warning);
}

.warning-border{
  border-color: var(--warningText) !important;
  color: var(--warningText);
}

.warning-border:hover,.btn-custom.warning:hover{
  filter: brightness(.9);
}

.danger {
  background-color: var(--danger);
}

.danger-border{
  border-color: var(--dangerText);
  color: var(--dangerText);
}

.danger-border:hover,.btn-custom.danger:hover {
  filter:brightness(.9)
}

.info {
  background-color: var(--info);
}

.info-border{
  border-color: var(--infoText);
  color: var(--infoText);
}

.info-border:hover,.btn-custom.info:hover{
  filter:brightness(.9)
}

.btn-rounded {
  border-radius: 100%;
  width: 45px;
  height: 43px;
}

.panel-header {
  margin-bottom: 32px;
}

.panel-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.panel-header-wrapper .group-button{
  gap:4px
}

.panel-header .panel-title {
  align-items: center;
  display: flex;
}

.panel-header .panel-title h3 {
  margin-left:4px;
  font-size: 20px;
}

.panel-tab {
  flex-wrap: wrap;
  display: flex;
  margin: 30px 0 16px 0;
  border-bottom: 1px solid var(--secondary05);
  gap:30px;
}
.panel-tab a {
  transition: all 120ms ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;
}

.panel-tab .current {
  border-bottom: 2px solid var(--primary02);
}
.panel-tab a:hover{
  border-bottom: 2px solid var(--primary02);
}

.select-custom {
  border: 1px solid var(--disabled);
  font-size: 16px;
  height: 38px;
  width: 80%;
  padding:0 16px;
}

.select-multiple{
  height: 110px;
  overflow-y: auto;
  border-radius: 4px;
  margin-top:7px
}

.menu .select-multiple {
  width: 100%;
}

.select-multiple > * {
  margin: 4px 0;
}

.menu {
  margin-top: 6px;
  background-color: var(--panel);
  box-shadow: var(--shadow06);
  position: absolute;
  border-radius: 4px;
  padding: 26px 18px;
  display: grid;
  justify-content: center;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header .btn-custom {
  font-size: 14px;
  height: 30px;
}

.menu-body {
  gap:4px;
  display: grid;
}

.status-table {
  padding: 5px;
  border-radius: 18px;
  color: var(--white02);
  margin: 0 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper-content {
  margin:10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.primary {
  background-color: var(--primary01);
}

.primary02 {
  background-color: var(--primary02);
}

.hidden {
  display: none;
}

.filters .wrapper-content label {
  font-size: 14px;
}

.filters .wrapper-content input{
  font-size: 14px;
  width: 120px;
  border-radius: 4px;
  box-shadow: var(--shadow05);
}

a {
  text-decoration: none;
  color:var(--secondary02)
}



